kind: ConfigMap
apiVersion: v1
metadata:
  name: flannel
  namespace: kube-system
  labels:
    tier: node
    app: flannel
data:
  cni-conf.json: |
    {
      "name": "cbr0",
      "type": "flannel",
      "delegate": {
        "hairpinMode": true,
        "isDefaultGateway": true
      }
    }
  net-conf.json: |
    {
      "Network": "POD_CIDR",
      "Backend": {
        "Type": "vxlan"
      }
    }
