# Version.
version="$(kubeadm version --output short)"

# API server FQDN.
apiserver_fqdn=""

# Pod CIDR.
pod_cidr=""

# Service CIDR.
service_cidr=""

# Token (kubeadm token generate).
token=""

# Certificate key (kubeadm alpha certs certificate-key).
certificate_key=""

# CA certificate hash.
ca_cert_hash=""
