# Version.
VERSION="$(kubeadm version --output short)"

# API server FQDN.
APISERVER_FQDN=""

# Pod CIDR.
POD_CIDR=""

# Service CIDR.
SERVICE_CIDR=""

# Token (kubeadm token generate).
TOKEN=""

# Certificate key (kubeadm alpha certs certificate-key).
CERTIFICATE_KEY=""

# CA certificate hash.
CA_CERT_HASH=""
